<form class="SearchForm" action="/" method="get">
	<input class="SearchForm-field" type="text" name="s" id="search" value="{{ function( 'the_search_query' ) }}" autocomplete="true" placeholder="Search here..."/>
	<button class="SearchForm-submit">
	<i class="fa fa-search" type="submit"></i></button>
</form>

