
// ---------- PostSnippet ---------- //

.PostSnippet {
	
	// border: 1px solid tomato;
	margin: 0 0 rem(40px) 0;

}

// Title
.PostSnippet-title {

	margin: 0 0 rem(15px) 0;

	a {
		color: inherit;
		text-decoration: none;
	}

}

// Content
.PostSnippet-content {
	margin: 0;
}